.my-toast {
    position: fixed;
    /* top: 1.3rem; */
    top: 10%;
    right: 0;
    transform: translateY(-100%);
    opacity: 0;
    transition: transform 500ms;
    width: 100%;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: 300;
}

.my-toast.my-visible {
    transform: translateY(0);
    opacity: 1;
    z-index: 99999999999;
}

.my-toast-body {
    border-radius: 10px;
    text-align: center;
    position: relative;
    width: clamp(400px, 100%, 600px);
    margin-left: auto;
    margin-right: auto;
    padding: 1.8rem;

    background: rgba(255, 255, 255, 0.51);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14.4px);
    -webkit-backdrop-filter: blur(14.4px);
}

.my-toast-message {
    position: absolute;
    top: 50%;
    left: 53%;
    transform: translate(-50%, -50%);
}

.my-toast-message::before {
    content: '';
    background-color: #ec0a92;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    position: absolute;
    left: -1.2rem;
    top: 50%;
    transform: translateY(-50%);
}

.my-toast-body::after {
    content: '';
    border: 1.5px solid #d9b0d6;
    border-radius: 5px;
    width: 2rem;
    position: absolute;
    bottom: 0.2rem;
    left: 50%;
    transform: translateX(-50%);
}
